certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
EasyProcess==1.1
entrypoint2==1.1
evdev==1.7.1
idna==3.10
jeepney==0.8.0
mss==10.0.0
Pillow==9.3.0
pycparser==2.22
pynput==1.7.7
pyscreenshot==3.1
python-xlib==0.33
requests==2.32.3
scapy==2.6.1
six==1.17.0
sounddevice==0.5.1
urllib3==2.3.0
